
/*Configurações Globais*/

*
{
    padding: 0;
    margin: 0;
}

html, body
{
    font-family: Arial, Helvetica, sans-serif !important;
    width: 100%;
    height: 100%;
}

main
{
    display: block;
}

.container_dashboard
{
    padding-left: 1em;
    padding-right: 1em;
}

:root 
{
    --dark: rgb(32, 32, 32)
    --white: #eeeeeb;
    --gray: #93a5ad;
    --darkGreen: #2f6a3f;
    --lightGreen: #accc46;
    --red: #dc3b49;
}


/*Configurações Barra de navegação vertical*/

header 
{
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    display: inline-block;
    position: fixed;
    border-right: 1px solid rgba(128, 128, 128, 0.144);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.63);
    overflow-x: hidden;
    z-index: 1;
    transition: 0.5s;
}

.sidebar-box-head
{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.144);
}

.sidebar-box h6
{
    font-size: 0.7em;
    color: var(--lightGreen);
    font-weight: 700;
    margin: 2em 0 0.7em 0.8em;
    padding-left: 0.6em;
    text-transform: uppercase;
}

.sidebar-item
{
    font-size: 0.7em;
}

.sidebar-item a
{
    text-decoration: none;
    color: var(--dark);
    padding-left: 1em;
    display: flex;
    padding-left: 2em;
    padding-top: 1em;
}

.sidebar-item a:hover, a:visited
{
    color: var(--dark);
    background-color: rgba(128, 128, 128, 0.144);
    cursor: pointer;
}

.sidebar-item a p
{
    margin: 0 0 1em 1em;
}



.sidebar-item .fas, .far
{
    color: var(--lightGreen);
}

.sidebar-select
{
    background-color: rgba(128, 128, 128, 0.144);
}


/*Configurações Barra de navegação PRIMÁRIA*/

main 
{
    transition: margin-left .5s; 
}

nav 
{
    display: block;
    width: auto;
}

nav .navbar-link, btn
{
    color: var(--lightGreen);
    padding-left: 1em;
}

nav .nav-icon 
{
    margin-right: 1em;
}

nav .navtop button i .fas
{
    color: var(--lightGreen);
}

.navtop button 
{
    margin-left: 1em;
} 

.navbar-item
{
    display: inline;
}

/*Configurações INFO BAR*/

.infoBar
{
    width: 100%;
    display: inline-block;
    background-color:rgb(229,237, 217)
}

.infoBar-box
{
    display: inline-block;
    padding: 0.5em 1em 0.5em 1em;
    border-right: 1px solid rgba(128, 128, 128, 0.603);
    justify-content: start;
}

.infoBar-box .fas
{
    color: var(--lightGreen);
}

.infoBar-box button
{
    background: none;
    border: none;
}
