
/*Configurações Globais*/

*
{
    padding: 0;
    margin: 0;
}

html, body
{
    font-family: Arial, Helvetica, sans-serif !important;
    width: 100%;
    height: 100%;
}

main
{
    background-color: var(--gray);
}

.container_dashboard
{
    padding: 1em 1em 1em 1em;
}

:root 
{
    --border: rgba(128, 128, 128, 0.144);
    --dark: rgb(32, 32, 32);
    --white: #eeeeeb;
    --gray: #F2F5F9;
    --green: #F0F7EE;
    --darkGreen: #53A451;
    --lightGreen: #accc46;
    --red: #dc3b49;
    --lightRed: #F9EAE8;
}


/*Configurações Barra de navegação vertical*/

header 
{
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    display: inline-block;
    position: fixed;
    border-right: 1px solid rgba(128, 128, 128, 0.144);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.63);
    overflow-x: hidden;
    z-index: 1;
    transition: 0.5s;
    background-color: white;
}

.sidebar-box-head
{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.144);
}

.sidebar-box h6
{
    font-size: 0.7em;
    color: var(--lightGreen);
    font-weight: 700;
    margin: 2em 0 0.7em 0.8em;
    padding-left: 0.6em;
    text-transform: uppercase;
}

.sidebar-item
{
    font-size: 0.7em;
}

.sidebar-item a
{
    text-decoration: none;
    color: var(--dark);
    padding-left: 1em;
    display: flex;
    padding-left: 2em;
    padding-top: 1em;
}

.sidebar-item a:hover, a:visited
{
    color: var(--dark);
    background-color: rgba(128, 128, 128, 0.144);
    cursor: pointer;
}

.sidebar-item a p
{
    margin: 0 0 1em 1em;
}



.sidebar-item .fas, .far
{
    color: var(--lightGreen);
}

.sidebar-select
{
    background-color: rgba(128, 128, 128, 0.144);
}


/*Configurações Barra de navegação PRIMÁRIA*/

main 
{
    transition: margin-left .5s; 
}

nav 
{
    display: block;
    width: auto;
}

nav .navbar-link, btn
{
    color: var(--lightGreen);
    padding-left: 1em;
}

nav .nav-icon 
{
    margin-right: 1em;
}

nav .navtop button i .fas
{
    color: var(--lightGreen);
}

.navtop button 
{
    margin-left: 1em;
} 

.navbar-item
{
    display: inline;
}

.navtop button
{
    background: none;
    border: none;
    color: var(--lightGreen);
}

/*Configurações INFO BAR*/

.infoBar
{
    width: 100%;
    display: inline-block;
    background-color:rgb(229,237, 217);
}

.infoBar-box
{
    font-size: small;
    display: inline-block;
    padding: 0.5em 1em 0.5em 1em;
    border-right: 1px solid rgba(128, 128, 128, 0.603);
    justify-content: start;
}

.infoBar-box .fas
{
    color: var(--lightGreen);
}

.infoBar-box button
{
    background: none;
    border: none;
}

.infoBar-activated
{
    background: rgb(218, 235, 191);
    border-bottom: 1px solid rgba(128, 128, 128, 0.603);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.267);
}


/*Configurações da PAGE-TITLE*/

#Page-title
{
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.397);
    display: flex;
    background-color: white;
}

.title
{
    margin: 2em 1em 2em 1em;
    display: block;
}

.title h5
{
    color: var(--dark);
    font-weight: 700;
    font-size: 2em;
    margin: 0;
}

#Page-title .title span
{
    color: gray;
    opacity: 0.6;
    font-size: 0.8em;
}

#Page-title .title i.fas
{
    color: gray;
    opacity: 0.6;
    font-size: 0.8em;
}

.display-max
{
    display: inline-block;
    align-self: center;
    margin-left: auto;
}

.display-max button
{
    background: none;
    border: 1px solid rgba(128, 128, 128, 0.300);
    padding: 0.4em 1em 0.4em 1em;
    margin-right: 1em;
}

.display-max span
{
    font-weight: 600;
    font-size: 14px;
}

.display-max i.fas
{
    color: var(--lightGreen);
    margin-right: 6px;
}


/*Configurações Conteúdo Dashboard*/

.box-primary 
{
    display: flex;
    padding: 1.5em 1em;
    margin-bottom: 1.5em;
    color: var(--dark);
    border-radius: 0.3em;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.100);
    background-color: white;
}

.box-primary h4
{
    margin: 0;
}

.box-primary p
{
    margin: 0;
    font-size: 0.8em;
}

.box-secundary h4
{
    margin: 0;
}

.box-secundary p
{
    margin: 0;
    font-size: 0.8em;
}

.box-secundary 
{
    display: flex;
    height: 4.5em;
    padding: 0.5em;
    margin-bottom: 1.5em;
    color: var(--dark);
    border-radius: 0.3em;
    border: 1px solid rgba(128, 128, 128, 0.300);
    background-color: white;
}

.alert-bars
{
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.250);
}

.box-icon
{
    display: inline-block;
    align-self: center;
    margin-left: auto;
}

.box-icon-secundary-green
{
    display: inline-block;
    align-self: center;
    padding: 1em;
    margin-right: 1em;
    background: var(--green);
    border-radius: 0.3em;
}

.box-icon-secundary-red
{
    display: inline-block;
    align-self: center;
    padding: 1em;
    margin-right: 1em;
    background: var(--lightRed);
    border-radius: 0.3em;
}

.box-icon-secundary-red i.fas, .box-icon-secundary-red i.far
{
    color: var(--red);
}

.box-icon-secundary-green i.fas, .box-icon-secundary-green i.far
{
    color: var(--darkGreen);
}


.icon-white i.far, .icon-white i.fas
{
    color: white;
    font-size: 3em;
}

.icon-dark-green i.far, .icon-dark-green i.fas
{
    color: var(--darkGreen);
    font-size: 3em;
}

.icon-light-green i.far, .icon-light-green i.fas
{
    color: var(--lightGreen);
    font-size: 3em;
}

.icon-red i.far, .icon-red i.fas
{
    color: var(--red);
    font-size: 3em;
}

.box-title
{
    display: block;
}

.box-title h4
{
    font-weight: 700;
}

.box-title-secundary p
{
    margin: 0;
    font-size: 0.7em;
    text-transform: uppercase;
}

.box-title-secundary h4
{
    margin: 0;
    font-size: 1.1em;
}

.title-dark-green h4
{
    color: var(--darkGreen);
}

.title-red h4
{
    color: var(--red);
}

.box-title p
{
    margin: 0;
}

.box-green 
{
    background:var(--darkGreen);
}

.box-green h4, .box-green p
{
    color: white;
}

.box-light-green 
{
    background:var(--green);
}

.box-red 
{
    background:var(--lightRed);
}

.box-small
{
    font-size: 0.8em;
    display: block;
    text-align: end;
}

.box-small-green
{
    background: var(--green);
    padding: 0.5em;
}

.box-small-red
{
    background: var(--lightRed);
    padding: 0.5em;
}


.sub-menu a
{
    text-decoration: none;
    color: var(--dark);
    font-size: 0.8em;
    font-weight: 600;
    margin-right: 2em;
}

.dashboard-content
{
    border: 1px solid rgba(128, 128, 128, 0.144);
    border-radius: 0.4em;
    background-color: white;
}

.title-small h6
{
    font-weight: 800;
    font-size: 0.8em;
}

.text-dark-green
{
    color: var(--darkGreen);
    font-weight: 600;
}

.text-red
{
    color: var(--red);
    font-weight: 600;
}

.city 
{
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.144);
}

.number-text
{
    margin-left: auto;
    align-self: center;
}

.box-reactors
{
    display: block;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid rgba(128, 128, 128, 0.144);
    border-radius: 0.4em;
    align-self: center;
    text-align: center;
}

.box-reactors button
{
    float: right;
    border: none;
    font-size: 0.4em;
    margin-left: 0;
    left: 0;
}

.box-reactors button i.fas, .box-reactors button i.far
{
    color: rgba(128, 128, 128, 0.500);
}

.box-reactors-green i.fas, .box-reactors-green i.far
{
    color: var(--darkGreen);
    font-size: 2em;
}

.box-reactors-green h6
{
    padding-top: 0.5em;
    color: var(--dark);
    margin: 0;
}

.box-reactors-green p
{
    color: var(--dark);
    margin: 0;
    font-size: 0.8em;
}

.box-reactors-red
{
    background: var(--lightRed);
}

.box-reactors-red i.fas, .box-reactors-red i.far
{
    color: var(--red);
    font-size: 2em;
}

.box-reactors-red h6
{
    padding-top: 0.5em;
    color: var(--dark);
    margin: 0;
}

.box-reactors-red p
{
    color: var(--dark);
    margin: 0;
    font-size: 0.8em;
}

.box-reactors-vertical
{
    display: flex;
    text-align: initial;
    margin-top: 1em;
    align-items: center;
    font-size: 0.8em;
    justify-content: center;
}

.box-reactors-secundary-red
{
    display: inline-block;
    align-self: center;
    padding: 1em;
    margin-right: 1em;
    background: rgb(255, 214, 214);
    border-radius: 0.3em;
}

.box-reactors-secundary-green
{
    display: inline-block;
    align-self: center;
    padding: 1em;
    margin-right: 1em;
    background: var(--green);
    border-radius: 0.3em;
}

.box-reactors-secundary-green i.fas, .box-reactors-secundary-green i.far
{
    color: var(--darkGreen);
}



.box-reactors-secundary
{
    color: var(--dark);
}

.identifier-text h6
{
    font-size: 1.2em;
    font-weight: 700;
}

.modal-header h5
{
    font-weight: 600;
}

.icon i.fas, .icon i.far
{
    padding: 1em;
    background-color: var(--gray);
    border-radius: 50%;
}

.statusReactor
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 0;
    border-bottom: 1px solid var(--border);
}

.statusReactor i
{
    display: inline;
}

.statusReactorGreen p
{
    color: var(--darkGreen);
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 700;
    margin-left: 0.5em;
}

.statusReactorGreen i.fas, .statusReactorGreen i.far
{
    color: var(--darkGreen);
    font-size: 0.75em;
    top: 50%;
}

.statusReactorGreen span
{
    margin-left: auto;
}

.infoReactor
{
    text-align: start;
    margin-right: 3em;
}

.infoReactor h6
{
    padding: 0;
    font-size: 0.8em;
    font-weight: 800;
}

.infoReactor p
{
    margin: 0;
}

.propertiesReactor
{
    margin: 0.5em 0;
    display: block;
    text-align: start;
    align-items: center;
    justify-content: center;
}

.propertiesReactor-box
{
    display: flex;
    margin: 0.5em 0;
}

.propertiesReactor-text
{
    align-self: center;
}

.propertiesReactor-text h4
{
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 1.8em;
}

.propertiesReactor-text p
{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.7em;
    color: gray;
}

.propertiesReactor .box-icon-secundary-red i.far
{
    color: var(--red);
}