
/*Configurações Globais*/

*
{
    padding: 0;
    margin: 0;
}

html, body
{
    font-family: Arial, Helvetica, sans-serif !important;
    width: 100%;
    height: 100%;
}

.container_dashboard
{
    padding: 1em 1em 1em 1em
}

:root 
{
    --dark: rgb(32, 32, 32)
    --white: #eeeeeb;
    --gray: #93a5ad;
    --darkGreen: #53A451;
    --lightGreen: #accc46;
    --red: #dc3b49;
    --lightRed: #EDE1E3;
}


/*Configurações Barra de navegação vertical*/

header 
{
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    display: inline-block;
    position: fixed;
    border-right: 1px solid rgba(128, 128, 128, 0.144);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.63);
    overflow-x: hidden;
    z-index: 1;
    transition: 0.5s;
}

.sidebar-box-head
{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.144);
}

.sidebar-box h6
{
    font-size: 0.7em;
    color: var(--lightGreen);
    font-weight: 700;
    margin: 2em 0 0.7em 0.8em;
    padding-left: 0.6em;
    text-transform: uppercase;
}

.sidebar-item
{
    font-size: 0.7em;
}

.sidebar-item a
{
    text-decoration: none;
    color: var(--dark);
    padding-left: 1em;
    display: flex;
    padding-left: 2em;
    padding-top: 1em;
}

.sidebar-item a:hover, a:visited
{
    color: var(--dark);
    background-color: rgba(128, 128, 128, 0.144);
    cursor: pointer;
}

.sidebar-item a p
{
    margin: 0 0 1em 1em;
}



.sidebar-item .fas, .far
{
    color: var(--lightGreen);
}

.sidebar-select
{
    background-color: rgba(128, 128, 128, 0.144);
}


/*Configurações Barra de navegação PRIMÁRIA*/

main 
{
    transition: margin-left .5s; 
}

nav 
{
    display: block;
    width: auto;
}

nav .navbar-link, btn
{
    color: var(--lightGreen);
    padding-left: 1em;
}

nav .nav-icon 
{
    margin-right: 1em;
}

nav .navtop button i .fas
{
    color: var(--lightGreen);
}

.navtop button 
{
    margin-left: 1em;
} 

.navbar-item
{
    display: inline;
}

.navtop button
{
    background: none;
    border: none;
    color: var(--lightGreen);
}

/*Configurações INFO BAR*/

.infoBar
{
    width: 100%;
    display: inline-block;
    background-color:rgb(229,237, 217)
}

.infoBar-box
{
    font-size: small;
    display: inline-block;
    padding: 0.5em 1em 0.5em 1em;
    border-right: 1px solid rgba(128, 128, 128, 0.603);
    justify-content: start;
}

.infoBar-box .fas
{
    color: var(--lightGreen);
}

.infoBar-box button
{
    background: none;
    border: none;
}

.infoBar-activated
{
    background: rgb(218, 235, 191);
    border-bottom: 1px solid rgba(128, 128, 128, 0.603);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.267);
}


/*Configurações da PAGE-TITLE*/

#Page-title
{
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.397);
    display: flex;
}

.title
{
    margin: 2em 1em 2em 1em;
    display: block;
}

.title h5
{
    color: var(--dark);
    font-weight: 700;
    font-size: 2em;
    margin: 0;
}

#Page-title .title span
{
    color: var(--gray);
    opacity: 0.6;
    font-size: 0.8em;
}

#Page-title .title i.fas
{
    color: var(--gray);
    opacity: 0.6;
    font-size: 0.8em;
}

.display-max
{
    display: inline-block;
    align-self: center;
    margin-left: auto;
}

.display-max button
{
    background: none;
    border: 1px solid rgba(128, 128, 128, 0.300);
    padding: 0.4em 1em 0.4em 1em;
    margin-right: 1em;
}

.display-max span
{
    font-weight: 600;
    font-size: 14px;
}

.display-max i.fas
{
    color: var(--lightGreen);
    margin-right: 6px;
}


/*Configurações Conteúdo Dashboard*/

.box-primary 
{
    display: flex;
    padding: 1em;
    margin-bottom: 1.5em;
    color: var(--dark);
    border-radius: 0.3em;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.384);
}

.box-icon
{
    display: inline-block;
    align-self: center;
    margin-left: auto;
}

.icon-white i.far, .icon-white i.fas
{
    color: white;
    font-size: 3em;
}

.icon-dark-green i.far, .icon-dark-green i.fas
{
    color: var(--darkGreen);
    font-size: 3em;
}

.icon-light-green i.far, .icon-light-green i.fas
{
    color: var(--lightGreen);
    font-size: 3em;
}

.icon-red i.far, .icon-red i.fas
{
    color: var(--red);
    font-size: 3em;
}

.box-title
{
    display: block;
}

.box-title h4
{
    font-weight: 700;
}

.title-dark-green h4
{
    color: var(--darkGreen);
}

.title-red h4
{
    color: var(--red);
}

.box-title p
{
    margin: 0;
}

.box-green 
{
    background:var(--darkGreen);
}

.box-green h4, .box-green p
{
    color: white;
}

.box-red 
{
    background:var(--lightRed);
}


.sub-menu a
{
    text-decoration: none;
    color: var(--dark);
    font-size: 0.8em;
    font-weight: 600;
    margin-right: 2em;
}